header {
    height: 70px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #CCCCCC;
}

header div {
    margin-left: 20px;
    height: 60px;
    width: 140px;
    background-image: url(../images/logo.png);
}